@import url(https://fonts.googleapis.com/css?family=Caveat);



body{
background-color: #030005;
background-image: url("https://www.transparenttextures.com/patterns/dark-wood.png");
color: white;
font-family: 'Caveat';font-size: 22px;


}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  border: solid;
}
.grid-item {
  border: 1px solid rgba(236, 231, 231, 0.8);
  padding: 1vw;
  font-size: 2vw;
  text-align: center;
}